{% extends 'frontend/base.html' %}
{% load static %}


{% block custom_css %}
<!-- Rangeslider css -->
<link rel="stylesheet" href="{% static 'assets/css/nouislider.css' %}" />
{% endblock %}


{% block main %}
{% include 'frontend/header.html' %}

	  <!-- Common Banner Area -->
	  <section id="common_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>Destination details</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span><a
                                    href="top-destinations.html">Destination</a></li>
                            <li><span><i class="fas fa-circle"></i></span>Destination details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--Destination details Areas -->
    <section id="top_destination_main" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="tour_details_leftside_wrapper">
                        <div class="tour_details_heading_wrapper">
                            <div class="tour_details_top_heading">
                                <h2>Explore the {{ transfers.name }}</h2>
                                <h5><i class="fas fa-map-marker-alt"></i> </h5>
                            </div>
                            <div class="tour_details_top_heading_right">
                                <h4>PRICE <sup>AED </sup></h4>
                                {% for price in transfers.price.all %}
                                <h6>{{ price.oneway_price }}- OneWay</h6>
                                <h6>{{ price.return_price }}- Return</h6>
                                <hr>
                                {% endfor %}
                            </div>
                        </div>
                        
                       
                        
                        <div class="tour_details_boxed">
                            <h3 class="heading_theme">Overview</h3>
                            <div class="tour_details_boxed_inner">
                                <p>{{ transfers.description | safe }}
                                </p>
                                
                            </div>
                        </div>
                        <div class="tour_details_boxed">
                            <h3 class="heading_theme">Tours location</h3>
                            <div class="map_area">
                                <iframe
                                    src="https://maps.google.com/maps?q={{ otour.long }},{{ otour.lat }}&hl=es;z=14&amp;output=embed">
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" id="bookingForm">
                    <div class="tour_details_right_sidebar_wrapper">
                        <div class="tour_detail_right_sidebar">
                            <div class="tour_details_right_boxed">
                               
                                <div class="tour_details_right_box_heading mb-3">
                                    <h3>Book Now</h3>
                                </div>
                                <form  method="POST" id="contact_form_content">
                                {% csrf_token %}
                                
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input v-model="fullname" name="fullname" id="fullname" type="text" class="form-control bg_input" placeholder="Full name*">
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input v-model="email" name="email" id="email" type="text" class="form-control bg_input"
                                                    placeholder="Email address*">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <span> </span>
                                                <input v-model="mobile" name="mobile" id="mobile" type="text" class="form-control bg_input"
                                                    placeholder="Mobile With country code*">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <span> </span>
                                                <input v-model="date" name="date"  type="date" class="form-control bg_input"
                                                    >
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <span> </span>
                                                <input v-model="pickup" name="pickup"  type="text" class="form-control bg_input"
                                                    placeholder="Pickup Location *">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <span> </span>
                                                <input v-model="dropoff" name="dropoff"  type="text" class="form-control bg_input"
                                                    placeholder="Drop Off Location*">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <span> </span>
                                                <input v-model="checked" name="returnTransfer"  type="checkbox" class=" bg_input" > Return Transfer
                                                    
                                            </div>
                                            <div v-if="checked" class="mt-3"> 
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <span> </span>
                                                        <input v-model="returnDate" name="returnDate"  type="date" class="form-control bg_input"
                                                            >
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <span> </span>
                                                        <input v-model="returnpickup" name="returnpickup"  type="text" class="form-control bg_input"
                                                            placeholder="Pickup Location *">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <span> </span>
                                                        <input v-model="returndropoff" name="returndropoff"  type="text" class="form-control bg_input"
                                                            placeholder="Drop Off Location*">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                       
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                {{ form.captcha }}
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="tour_select_offer_bar_bottom">
                                        <button class="btn btn_theme btn_md w-100" type="submit">Submit</button>
                                    </div>
                                </form>
                                
                        </div>
                        
                        
                        
                          
                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </section>

    <!--Related tour packages Area -->
    <section id="related_tour_packages" class="section_padding_bottom">
        <div class="container">
            <!-- Section Heading -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section_heading_center">
                        <h2>Book other transfers</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="promotional_tour_slider owl-theme owl-carousel dot_style">
                        
                        <div class="top_destinations_box img_hover">
                            <div class="heart_destinations">
                                <i class="fas fa-heart"></i>
                            </div>
                            <a href=""><img src=""
                                    alt="img"></a>
                                    <div class="top_destinations_box_content">
                                        <h4 ><a href=""> </a></h4>
                                        <p><span class="review_rating"> Days  -  Nights</span> <span
                                                class="review_count"></span></p>
                                                
                                        <h3> <sup>AED</sup> <span>Price starts from</span></h3>
                                    </div>
                        </div>
                       
                        
                    </div>
                </div>
            </div>
        </div>
    </section>



	

	{% include 'frontend/newsletter.html' %}
   
    {% include 'frontend/footer.html' %}


    {% block custom_script %}

     <!-- Slick js -->
     <script src="https://unpkg.com/vue@next"></script>
     <script src="{% static 'assets/js/slick.min.js' %}"></script>
     <script src="{% static 'assets/js/slick-slider.js' %}"></script>
     <script src="{% static 'assets/js/transfer-vue.js' %}"></script>

     {% endblock %}



	{% endblock main %}
    