
{% extends 'frontend/base.html' %}
{% load static %}


{% block main %}
{% include 'frontend/header.html' %}

    
    <!-- Common Banner Area -->
    <section id="common_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>Education visa</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span><a href="visa-details.html">Visa details</a>
                            </li>
                            <li><span><i class="fas fa-circle"></i></span> Education visa</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Tour Booking Submission Areas -->
    <section id="Visa_info_main_arae" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="news_detail_wrapper">
                        <div class="news_details_content_area">
                            <img src="/static/assets/img/banner/edu.png" alt="img">
                            <h2>Veniam ex tempor qui ad amet mollit cillum aliqua aliqua fugiat tempor eu magna</h2>
                            <p>Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum. There are many
                                variations of passages of Lorem Ipsum available but the majority.</p>
                            <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                                anything embarrang hidden in the middle of text. All the Lorem Ipsum generators on the
                                Internet tend to repeat predefined chunks as necessary, making this the first true.</p>
                            <h3>We want to ensure the education</h3>
                            <p>Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum. There are many
                                variations of passages of Lorem Ipsum available, but the majority have alteration in
                                some injected or words which don't look even slightly believable.</p>
                            <ul>
                                <li><i class="fas fa-circle"></i> Lorem ipsum dolor sit amet, cibo mundi ea duo, vim
                                    exerci phaedrum.</li>
                                <li><i class="fas fa-circle"></i> There are many variations of passages of Lorem Ipsum.
                                </li>
                                <li><i class="fas fa-circle"></i> Available but the majority have alteration in some
                                    injected or words.</li>
                                <li><i class="fas fa-circle"></i> There are many variations of passages of Lorem Ipsum
                                    which don't look even slightly
                                    believable.</li>
                            </ul>
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                    <div class="visa_info_card_sm">
                                        <img src="/static/assets/img/icon/check-black.png" alt="icon">
                                        <h3>Visa guarantee</h3>
                                        <p>Minim sit mollit et do. Ad occaecat qui cupidatat aute deserunt aute ea
                                            pariatur eu deserunt.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                    <div class="visa_info_card_sm">
                                        <img src="/static/assets/img/icon/support.png" alt="icon">
                                        <h3>Lifetime support</h3>
                                        <p>Minim sit mollit et do. Ad occaecat qui cupidatat aute deserunt aute ea
                                            pariatur eu deserunt.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                    <div class="visa_info_card_sm">
                                        <img src="/static/assets/img/icon/dolor.png" alt="icon">
                                        <h3>Low cost</h3>
                                        <p>Minim sit mollit et do. Ad occaecat qui cupidatat aute deserunt aute ea
                                            pariatur eu deserunt.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="area_visa_info_add">
                                <h3>Sit nulla est magna irure amet commodo</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum. There are many
                                    variations of passages of Lorem Ipsum available, but the majority have alteration in
                                    some injected or words which don't look even slightly believable.
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="news_details_left_img">
                                        <img src="/static/assets/img/common/visa_info-1.png" alt="img">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="news_details_left_img">
                                        <img src="/static/assets/img/common/visa_info-2.png" alt="img">
                                    </div>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum. There are many
                                variations of passages of Lorem Ipsum available, but the majority have alteration in
                                some injected or words which don't look even slightly believable.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="news_details_rightbar">
                        <div class="visa_info_side_item news_details_right_item">
                            <div class="visa_category_item">
                                <ul class="">
                                    <li><a href="#!">Business visa <i class="fa fa-angle-right"></i></a></li>
                                    <li><a href="#!">Education visa <i class="fa fa-angle-right"></i></a></li>
                                    <li><a href="#!">Working visa <i class="fa fa-angle-right"></i></a></li>
                                    <li><a href="#!">Tourist visa <i class="fa fa-angle-right"></i></a></li>
                                    <li><a href="#!">Medical visa <i class="fa fa-angle-right"></i></a></li>
                                    <li><a href="#!">On-arrival visa <i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="news_details_right_item visa_info_sid_padding_none">
                            <div class=" visa_info_side_middle">
                                <img src="/static/assets/img/common/side_img.png" alt="img">
                                <div class="visa_info_side_call">
                                    <h5>Call us for any information</h5>
                                    <h2><i class="fas fa-phone-volume"></i><a href="tel:+110-123-456-789">+971 4 321 6565</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="news_details_right_item visa_info_sid_padding_none">
                            <div class="download_pdf_area_visa">
                                <div class="downloads_pdf_icon_visa">
                                    <img src="/static/assets/img/icon/pdf.png" alt="icon">
                                </div>
                                <div class="downloads_pdf_text_visa">
                                    <a href="#!">
                                        <h3>Travel guide for explorer.pdf</h3>
                                        <h5>Download PDF</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="news_details_right_item">
                            <h3>Request for an appointment</h3>
                            <div class="visa_request_side_form">
                                <form action="#!">
                                    <div class="form-group">
                                        <input type="text" class="form-control bg_input" placeholder="Your name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control bg_input" placeholder="Your email">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control bg_input" placeholder="Phone number">
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control form-select bg_input">
                                            <option value="1">Select visa type</option>
                                            <option value="2">Business visa </option>
                                            <option value="3">Education visa </option>
                                            <option value="4">Working visa </option>
                                            <option value="5">Tourist visa </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <textarea rows="6" class="form-control bg_input"
                                            placeholder="Write your message here..."></textarea>
                                    </div>
                                    <div class="visa_request_side_form_button">
                                        <button class="btn btn_theme btn_md w-100">Send request</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'frontend/newsletter.html' %}
   
    {% include 'frontend/footer.html' %}

    {% endblock main %}
               
