{% extends 'frontend/base.html' %}
{% load static %}


{% block custom_css %}
<!--slick-theme.css-->
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/slick-theme.css' %}" />
<!-- Slick css -->
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/slick.min.css' %}" />
 <!-- Rangeslider css -->
 <link rel="stylesheet" href="{% static 'assets/css/nouislider.css' %}" />

{% endblock %}

{% block main %}
{% include 'frontend/header.html' %}


    <!-- Common Banner Area -->
    <section id="common_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>Destination details</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span><a
                                    href="top-destinations.html">Destination</a></li>
                            <li><span><i class="fas fa-circle"></i></span>Destination details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--Destination details Areas -->
    <section id="top_destination_main" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="tour_details_leftside_wrapper">
                        <div class="tour_details_heading_wrapper">
                            <div class="tour_details_top_heading">
                                <h2>Explore the {{ otour.name }}</h2>
                                <h5><i class="fas fa-map-marker-alt"></i> </h5>
                            </div>
                            <div class="tour_details_top_heading_right">
                                <h4>Excellent</h4>
                                <h6>4.8/5</h6>
                                <p>(1214 reviewes)</p>
                            </div>
                        </div>
                        
                        <div class="tour_details_img_wrapper">
                            <div class="slider-for">
                                {% for image in otour.ogallery.all %}
                                <div>
                                    <img src="{{ image.image1.url }}" alt="img">
                                </div>
                                
                                <div>
                                    <img src="{{ image.image2.url }}" alt="img">
                                </div>
                                <div>
                                    <img src="{{ image.image3.url }}" alt="img">
                                </div>
                                <div>
                                    <img src="{{ image.image4.url }}" alt="img">
                                </div>
                                <div>
                                    <img src="{{ image.image5.url }}" alt="img">
                                </div>
                                <div>
                                    <img src="{{ image.image6.url }}" alt="img">
                                </div>
                                
                                {% endfor %}
                            </div>
                            <div class="slider-nav">
                                {% for image in otour.ogallery.all %}
                                <div>
                                    <img src="{{ image.image1.url }}" alt="img" width="130" height="46">
                                </div>
                                
                                <div>
                                    <img src="{{ image.image2.url }}" alt="img" width="130" height="46">
                                </div>
                                <div>
                                    <img src="{{ image.image3.url }}" alt="img" width="130" height="46">
                                </div>
                                <div>
                                    <img src="{{ image.image4.url }}" alt="img" width="130" height="46">
                                </div>
                                <div>
                                    <img src="{{ image.image5.url }}" alt="img" width="130" height="46">
                                </div>
                                <div>
                                    <img src="{{ image.image6.url }}" alt="img" width="130" height="46">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tour_details_boxed">
                            <h3 class="heading_theme">Overview</h3>
                            <div class="tour_details_boxed_inner">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                                    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                                    takimata sanctus est.
                                </p>
                                <p>
                                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
                                </p>
                                <ul>
                                    <li><i class="fas fa-circle"></i>Buffet breakfast as per the Itinerary</li>
                                    <li><i class="fas fa-circle"></i>Visit eight villages showcasing Polynesian culture
                                    </li>
                                    <li><i class="fas fa-circle"></i>Complimentary Camel safari, Bonfire, and Cultural
                                        Dance at Camp</li>
                                    <li><i class="fas fa-circle"></i>All toll tax, parking, fuel, and driver allowances
                                    </li>
                                    <li><i class="fas fa-circle"></i>Comfortable and hygienic vehicle (SUV/Sedan) for
                                        sightseeing on all days as per the itinerary.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="tour_details_boxed">
                            <h3 class="heading_theme">Itinerary</h3>
                            {% for itin in otour.itinerary.all %}
                            <div class="tour_details_boxed_inner">
                               
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion_flex_area">
                                        <div class="accordion_left_side">
                                            <h5>{{itin.title|slice:6}}</h5>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne{{itin.id}}" aria-expanded="false"
                                                    aria-controls="collapseOne">
                                                    {{itin.title|slice:'6:'}}
                                                </button>
                                            </h2>
                                            <div id="collapseOne{{itin.id}}" class="accordion-collapse collapse show"
                                                aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="accordion_itinerary_list">
                                                        <ul>
                                                            <li>
                                                                <i class="fas fa-circle"></i>
                                                                {{ itin.detail }}
                                                            </li>
                                                            
                                                            
                                                           
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                </div>
                               
                            </div>
                            {% endfor  %}
                        </div>
                        <div class="tour_details_boxed">
                            <h3 class="heading_theme">Included</h3>
                            <div class="tour_details_boxed_inner ">
                                
                                <ul>
                                    {% for include in otour.includes.all %}
                                    <li><i class="fas fa-circle"></i>{{ include.name}}</li>
                                    {% endfor %}
                                    
                                </ul>
                            </div>
                            <div class="tour_details_boxed_inner ">
                                <h3 class="heading_theme">Excluded</h3>
                                <ul>
                                    {% for exclude in otour.excludes.all %}
                                    <li><i class="fas fa-circle"></i>{{ exclude.name}}</li>
                                    {% endfor %}
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="tour_details_boxed">
                            <h3 class="heading_theme">Tours location</h3>
                            <div class="map_area">
                                <iframe
                                    src="https://maps.google.com/maps?q={{ otour.long }},{{ otour.lat }}&hl=es;z=14&amp;output=embed">
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" id="inquiryForm">
                    <div class="tour_details_right_sidebar_wrapper">
                        <div class="tour_detail_right_sidebar">
                            <div class="tour_details_right_boxed">
                               
                                <div class="tour_details_right_box_heading mb-3">
                                    <h3>Inquire Now</h3>
                                </div>
                                <form  method="POST" id="contact_form_content">
                                {% csrf_token %}
                                
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input v-model="form.fullname" name="fullname" id="fullname" type="text" class="form-control bg_input" placeholder="Full name*">
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input v-model="form.email" name="email" id="email" type="text" class="form-control bg_input"
                                                    placeholder="Email address*">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <span>{% verbatim %} {{ form.mobile}} {% endverbatim %} </span>
                                                <input v-model="form.mobile" name="mobile" id="mobile" type="text" class="form-control bg_input"
                                                    placeholder="Mobile With country code*">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <textarea v-model="form.message" name="message" id="message" class="form-control bg_input" rows="5"
                                                    placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="tour_select_offer_bar_bottom">
                                        <button class="btn btn_theme btn_md w-100" type="submit">Submit</button>
                                    </div>
                                </form>
                                
                        </div>
                        
                        
                        
                          
                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="write_your_review_wrapper">
                        <h3 class="heading_theme">Write your review</h3>
                        <div class="write_review_inner_boxed">
                            <form action="!#" id="news_comment_form">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-froup">
                                            <input type="text" class="form-control bg_input"
                                                placeholder="Enter full name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-froup">
                                            <input type="text" class="form-control bg_input"
                                                placeholder="Enter email address">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-froup">
                                            <textarea rows="6" placeholder="Write your comments"
                                                class="form-control bg_input"></textarea>
                                        </div>
                                        <div class="comment_form_submit">
                                            <button class="btn btn_theme btn_md">Post comment</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="all_review_wrapper">
                        <h3 class="heading_theme">All review</h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="all_review_box">
                        <div class="all_review_date_area">
                            <div class="all_review_date">
                                <h5>08 Dec, 2021</h5>
                            </div>
                            <div class="all_review_star">
                                <h5>Excellent</h5>
                                <div class="review_star_all">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="all_review_text">
                            <img src="/static/assets/img/review/review1.png" alt="img">
                            <h4>Manresh Chandra</h4>
                            <p>" Loved the overall tour for all 6 days covering jaipur jodhpur and jaisalmer. worth ur
                                money for sure. thanks. Driver was very good and polite and safe driving for all 6 days.
                                on time pickup and drop overall. Thanks for it. "</p>
                        </div>
                        <div class="all_review_small_img">
                            <div class="all_review_small_img_item">
                                <img src="/static/assets/img/review/review-small1.png" alt="img">
                            </div>
                            <div class="all_review_small_img_item">
                                <img src="/static/assets/img/review/review-small2.png" alt="img">
                            </div>
                            <div class="all_review_small_img_item">
                                <img src="/static/assets/img/review/review-small3.png" alt="img">
                            </div>
                            <div class="all_review_small_img_item">
                                <img src="/static/assets/img/review/review-small4.png" alt="img">
                            </div>
                            <div class="all_review_small_img_item">
                                <img src="/static/assets/img/review/review-small5.png" alt="img">
                            </div>
                            <div class="all_review_small_img_item">
                                <h5>+5</h5>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="all_review_box">
                        <div class="all_review_date_area">
                            <div class="all_review_date">
                                <h5>08 Dec, 2021</h5>
                            </div>
                            <div class="all_review_star">
                                <h5>Excellent</h5>
                                <div class="review_star_all">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="all_review_text">
                            <img src="/static/assets/img/review/review2.png" alt="img">
                            <h4>Michel falak</h4>
                            <p>" Loved the overall tour for all 6 days covering jaipur jodhpur and jaisalmer. worth ur
                                money for sure. thanks. Driver was very good and polite and safe driving for all 6 days.
                                on time pickup and drop overall. Thanks for it. "</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="all_review_box">
                        <div class="all_review_date_area">
                            <div class="all_review_date">
                                <h5>08 Dec, 2021</h5>
                            </div>
                            <div class="all_review_star">
                                <h5>Excellent</h5>
                                <div class="review_star_all">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="all_review_text">
                            <img src="/static/assets/img/review/review3.png" alt="img">
                            <h4>Chester dals</h4>
                            <p>" Loved the overall tour for all 6 days covering jaipur jodhpur and jaisalmer. worth ur
                                money for sure. thanks. Driver was very good and polite and safe driving for all 6 days.
                                on time pickup and drop overall. Thanks for it. "</p>
                        </div>
                        <div class="all_review_small_img">
                            <div class="all_review_small_img_item">
                                <img src="/static/assets/img/review/review-small1.png" alt="img">
                            </div>
                            <div class="all_review_small_img_item">
                                <img src="/static/assets/img/review/review-small2.png" alt="img">
                            </div>
                            <div class="all_review_small_img_item">
                                <img src="/static/assets/img/review/review-small5.png" alt="img">
                            </div>
                            <div class="all_review_small_img_item">
                                <h5>+15</h5>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="all_review_box">
                        <div class="all_review_date_area">
                            <div class="all_review_date">
                                <h5>08 Dec, 2021</h5>
                            </div>
                            <div class="all_review_star">
                                <h5>Excellent</h5>
                                <div class="review_star_all">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="all_review_text">
                            <img src="assets/img/review/review4.png" alt="img">
                            <h4>Casper mike</h4>
                            <p>" Loved the overall tour for all 6 days covering jaipur jodhpur and jaisalmer. worth ur
                                money for sure. thanks. Driver was very good and polite and safe driving for all 6 days.
                                on time pickup and drop overall. Thanks for it. "</p>
                        </div>
                        <div class="all_review_small_img">
                            <div class="all_review_small_img_item">
                                <img src="/static/assets/img/review/review-small4.png" alt="img">
                            </div>
                            <div class="all_review_small_img_item">
                                <img src="/static/assets/img/review/review-small5.png" alt="img">
                            </div>
                            <div class="all_review_small_img_item">
                                <h5>+19</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="all_review_box">
                        <div class="all_review_date_area">
                            <div class="all_review_date">
                                <h5>08 Dec, 2021</h5>
                            </div>
                            <div class="all_review_star">
                                <h5>Excellent</h5>
                                <div class="review_star_all">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="all_review_text">
                            <img src="/static/assets/img/review/review5.png" alt="img">
                            <h4>Jason bruno</h4>
                            <p>" Loved the overall tour for all 6 days covering jaipur jodhpur and jaisalmer. worth ur
                                money for sure. thanks. Driver was very good and polite and safe driving for all 6 days.
                                on time pickup and drop overall. Thanks for it. "</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Related tour packages Area -->
    <section id="related_tour_packages" class="section_padding_bottom">
        <div class="container">
            <!-- Section Heading -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section_heading_center">
                        <h2>Related top destinations</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="promotional_tour_slider owl-theme owl-carousel dot_style">
                        <div class="top_destinations_box img_hover">
                            <div class="heart_destinations">
                                <i class="fas fa-heart"></i>
                            </div>
                            <a href="top-destinations-details.html"><img src="/static/assets/img/destination/main-page6.png"
                                    alt="img"></a>
                            <div class="top_destinations_box_content">
                                <h4><a href="top-destinations-details.html">Kathmundu</a></h4>
                                <p><span class="review_rating">4.8/5 Excellent</span> <span class="review_count">(1214
                                        reviewes)</span></p>
                                <h3>$99.00 <span>Price starts from</span></h3>
                            </div>
                        </div>
                        <div class="top_destinations_box img_hover">
                            <div class="heart_destinations">
                                <i class="fas fa-heart"></i>
                            </div>
                            <a href="top-destinations-details.html"><img src="/static/assets/img/destination/main-page5.png"
                                    alt="img"></a>
                            <div class="top_destinations_box_content">
                                <h4><a href="top-destinations-details.html">Himalaya</a></h4>
                                <p><span class="review_rating">4.8/5 Excellent</span> <span class="review_count">(1214
                                        reviewes)</span></p>
                                <h3>$99.00 <span>Price starts from</span></h3>
                            </div>
                        </div>
                        <div class="top_destinations_box img_hover">
                            <div class="heart_destinations">
                                <i class="fas fa-heart"></i>
                            </div>
                            <a href="top-destinations-details.html"><img src="assets/img/destination/main-page4.png"
                                    alt="img"></a>
                            <div class="top_destinations_box_content">
                                <h4><a href="top-destinations-details.html">Beautiful darjeeling</a></h4>
                                <p><span class="review_rating">4.8/5 Excellent</span> <span class="review_count">(1214
                                        reviewes)</span></p>
                                <h3>$99.00 <span>Price starts from</span></h3>
                            </div>
                        </div>
                        <div class="top_destinations_box img_hover">
                            <div class="heart_destinations">
                                <i class="fas fa-heart"></i>
                            </div>
                            <a href="top-destinations-details.html"><img src="/static/assets/img/destination/main-page3.png"
                                    alt="img"></a>
                            <div class="top_destinations_box_content">
                                <h4><a href="top-destinations-details.html">Annapurna</a></h4>
                                <p><span class="review_rating">4.8/5 Excellent</span> <span class="review_count">(1214
                                        reviewes)</span></p>
                                <h3>$99.00 <span>Price starts from</span></h3>
                            </div>
                        </div>
                        <div class="top_destinations_box img_hover">
                            <div class="heart_destinations">
                                <i class="fas fa-heart"></i>
                            </div>
                            <a href="top-destinations-details.html"><img src="/static/assets/img/destination/main-page2.png"
                                    alt="img"></a>
                            <div class="top_destinations_box_content">
                                <h4><a href="top-destinations-details.html">Explore china</a></h4>
                                <p><span class="review_rating">4.8/5 Excellent</span> <span class="review_count">(1214
                                        reviewes)</span></p>
                                <h3>$99.00 <span>Price starts from</span></h3>
                            </div>
                        </div>
                        <div class="top_destinations_box img_hover">
                            <div class="heart_destinations">
                                <i class="fas fa-heart"></i>
                            </div>
                            <a href="top-destinations-details.html"><img src="/static/assets/img/destination/main-page1.png"
                                    alt="img"></a>
                            <div class="top_destinations_box_content">
                                <h4><a href="top-destinations-details.html">Ancient egypt</a></h4>
                                <p><span class="review_rating">4.8/5 Excellent</span> <span class="review_count">(1214
                                        reviewes)</span></p>
                                <h3>$99.00 <span>Price starts from</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



     
  

    
    {% include 'frontend/newsletter.html' %}
   
    {% include 'frontend/footer.html' %}


    {% block custom_script %}

     <!-- Slick js -->
     <script src="https://unpkg.com/vue@next"></script>
     <script src="{% static 'assets/js/slick.min.js' %}"></script>
     <script src="{% static 'assets/js/slick-slider.js' %}"></script>
     <script src="{% static 'assets/js/outbounds-vue.js' %}"></script>

     {% endblock %}

    {% endblock main %}
    
  