{% extends 'frontend/base.html' %}
{% load static %}


{% block custom_css %}
<!-- Rangeslider css -->
<link rel="stylesheet" href="{% static 'assets/css/nouislider.css' %}" />
{% endblock %}


{% block main %}
{% include 'frontend/header.html' %}

    <!-- Common Banner Area -->
    <section id="common_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>Top destinations</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span> Top destinations</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="theme_search_form_tour">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="theme_search_form_area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="tour_search_form">
                                    <form action="#!">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="flight_Search_boxed">
                                                    
                                                    {{ outbounds_filter.form }}
                                                    
                                                </div>
                                            </div>
                                            
                                            
                                            <div class="top_form_search_button">
                                                <button class="btn btn_theme btn_md" type="submit">Search City</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Destinations Areas -->
    <section id="top_testinations" class="section_padding">
        <div class="container">
            <!-- Section Heading -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section_heading_center">
                        <h2>{{ city_count }} destination found</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="">
                    <div class="left_side_search_area">
                        
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        {% for city in outbounds_filter.qs %}
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="top_destinations_box img_hover">
                                <div class="heart_destinations">
                                    <i class="fas fa-heart"></i>
                                </div>
                                <a href="{% url 'outbound-detail' city.slug %}"><img src="{{city.thumbnail.url}}"
                                        alt="img"></a>
                                <div class="top_destinations_box_content">
                                    <h4 ><a href="{% url 'outbound-detail' city.slug %}">{{ city.name }} </a></h4>
                                    <p><span class="review_rating">{{ city.no_of_days}} Days  - {{city.no_of_nights}} Nights</span> <span
                                            class="review_count"></span></p>
                                            {% for price in city.price.all %}
                                    <h3>{{ price.price}} <sup>AED</sup> <span>Price starts from</span></h3> {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                       
                        
                        <div class="col-lg-12">
                            <div class="pagination_area">
                                <ul class="pagination">
                                    {% if outbounds_filter.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ tours.previous_page_number}}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for i in outbounds_filter.paginator.page_range %}
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                    {% endfor %}
                                    {% if outbounds_filter.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{tours.next_page_number}}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   

    
    {% include 'frontend/newsletter.html' %}
   
    {% include 'frontend/footer.html' %}



    {% block custom_script %}
    <script src="{% static 'assets/js/form-dropdown.js' %}"></script>
     <!-- Range js -->
     <script src="{% static 'assets/js/nouislider.min.js' %}"></script>
     <script src="{% static 'assets/js/wNumb.js' %}"></script>


     
    {% endblock %}

    {% endblock main %}
    