{% load static %}
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Arabian Nights Tours | Login / Register </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'login/img/favicon.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'login/css/bootstrap.min.css' %}">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'login/css/fontawesome-all.min.css' %}">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="{% static 'login/font/flaticon.css' %}">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
</head>

<body>


    {% block login %}
    
    
    
    
    
    
    
    {% endblock login %}




   <!-- jquery-->
   <script src="{% static 'login/js/jquery-3.5.0.min.js' %}"></script>
   <!-- Bootstrap js -->
   <script src="{% static 'login/js/bootstrap.min.js' %}"></script>
   <!-- Imagesloaded js -->
   <script src="{% static 'login/js/imagesloaded.pkgd.min.js' %}"></script>
   <!-- Validator js -->
   <script src="{% static 'login/js/validator.min.js' %}"></script>
   <!-- Custom Js -->
   <script src="{% static 'login/js/main.js' %}"></script>

</body>

</html>