{% extends 'frontend/base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block main %}
{% include 'frontend/header.html' %}


    <!-- Common Banner Area -->
    <section id="common_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>Register</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span> Register</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  Common Author Area -->
    <section id="common_author_area" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="common_author_boxed">
                        <div class="common_author_heading">
                            <h3>Register account</h3>
                            <h2>Register your account</h2>
                            
                        </div>
                        <div class="common_author_form">
                            <form method="POST" action="" id="main_author_form">
                               {% csrf_token %}
                                
                                <div class="form-group">
                                    {{form.username}}
                                    
                                </div>

                                <div class="form-group">
                                    {{form.email}}
                                   
                                        
                                </div>
                               
                                
                                <div class="form-group">
                                    {{form.password1}}
                                    
                                </div>
                                <div class="form-group">
                                    {{form.password2}}
                                    
                                </div>
                                <div class="common_form_submit">
                                    <button class="btn btn_theme btn_md" type="submit">Register</button>
                                </div>
                                <div class="have_acount_area other_author_option">
                                    <div class="line_or">
                                        <span>or</span>
                                    </div>
                                    <ul>
                                        <li><a href="{% provider_login_url 'google' %}"><img src="{% static 'assets/img/icon/google.png' %}" alt="icon"></a></li>
                                        <li><a href="{% provider_login_url 'facebook' %}"><img src="{% static 'assets/img/icon/facebook.png' %}" alt="icon"></a></li>
                                        <li><a href=""><img src="{% static 'assets/img/icon/twitter.png' %}" alt="icon"></a></li>
                                    </ul>
                                    <p>Already have an account? <a href="{% url 'login' %}">Log in now</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'frontend/newsletter.html' %}
   
    {% include 'frontend/footer.html' %}

    {% endblock main %}
    