{%  extends 'accounts/main.html' %}

{% block content %}

{%  include 'accounts/status.html' %}
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Tour</th>
					<th>pickup</th>
					<th>Date Orderd</th>
					<th>Status</th>
					
				</tr>

				{% for booking in bookings %}

				<tr>
					<td>{{booking.tour}}</td>
					<td>{{booking.pickup}}</td>
					<td>{{booking.date_created}}</td>
					<td>{{booking.status}}</td>
					
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}