{% extends 'frontend/base.html' %}
{% load static %}


{% block main %}
{% include 'frontend/header.html' %}

    <!-- Common Banner Area -->
    <section id="common_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>News</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span>News</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- News Area -->
    <section id="news_main_arae" class="section_padding">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-9">
                    {% for post in object_list %}
                    <div class="news_two_card">
                        <div class="news_item_boxed">
                            <div class="news_item_img">
                                <a href="{% url 'blog-detail' post.id %}"><img src="{{ post.thumbnail.url}}" alt="img"></a>
                            </div>
                            <div class="news_author_area">
                                <div class="news_author_img">
                                    <img src="/static/assets/img/news/author-1.png" alt="img">
                                </div>
                                <div class="news_author_area_name news_two_author">
                                    <h4>{{ post.author}}</h4>
                                    <p><i class="fas fa-circle"></i> <a href="">{{post.post_created |date:'D d M Y'}}</a> <i
                                            class="fas fa-circle"></i> 8 min read</p>
                                </div>
                            </div>
                            <div class="news_item_content news_two_content">
                                <h3>
                                    <a href="{% url 'blog-detail' post.id %}">
                                        {{post.title}}
                                    </a>
                                </h3>
                                <p>
                                    {{ post.body | safe | truncatewords:10 }} <a href="{% url 'blog-detail' post.id %}"> Read more...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor  %}
                   
                    
                    
                    <div class="pagination_area">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="news_area_sidebar_area">
                        <div class="news_sidebar_content">
                            <div class="news_sidebar_heading">
                                <h3>Search by name</h3>
                            </div>
                            <div class="news_sidebar_search">
                                <form action="#!">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="e.g Hotel castle salam" required>
                                    <button type="submit" class="btn"><img src="/static/assets/img/icon/search.png" alt="icon"></button>
                                    </div>
                                    
                                </form>
                                
                            </div>
                        </div>
                        <div class="news_sidebar_content">
                            <div class="news_sidebar_heading">
                                <h3>Category</h3>
                            </div>
                           <div class="news_sidebar_content_inner">
                            <ul class="news_sidebar_category">
                                <li><a href="#!">Travel agent</a></li>
                                <li><a href="#!">Honeymoon</a></li>
                                <li><a href="#!">Flights</a></li>
                                <li><a href="#!">Adventure</a></li>
                                <li><a href="#!">Hotels</a></li>
                                <li><a href="#!">Apartments</a></li>
                                <li><a href="#!">Flight service</a></li>
                                <li><a href="#!">Visa processing</a></li>
                            </ul>
                           </div>
                        </div>
                        <div class="news_sidebar_content">
                            <div class="news_sidebar_heading">
                                <h3>Tags</h3>
                            </div>
                            <div class="news_sidebar_content_inner">
                                <ul class="news_sidebar_tags">
                                    <li><a href="#!">Flight</a></li>
                                    <li><a href="#!">Travel</a></li>
                                    <li><a href="#!">Agency</a></li>
                                    <li><a href="#!">Hotel</a></li>
                                    <li><a href="#!">Lifestyle</a></li>
                                    <li><a href="#!">Healthy</a></li>
                                    <li><a href="#!">Group</a></li>
                                    <li><a href="#!">Couple</a></li>
                                    <li><a href="#!">Drinks</a></li>
                                </ul>
                               </div>
                        </div>
                        <div class="news_sidebar_content">
                          <div class="sidebar_advasting_area">
                            <a href="#!"><img src="/static/assets/img/news/news-sidebar.png" alt="img"></a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   

    {% include 'frontend/newsletter.html' %}
   
    {% include 'frontend/footer.html' %}

    {% endblock main %}
    
               