 <!-- Footer  -->
 <footer id="footer_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="footer_heading_area">
                    <h5>Need any help?</h5>
                </div>
                <div class="footer_first_area">
                    <div class="footer_inquery_area">
                        <h5>Call 24/7 for any help</h5>
                        <h3> <a href="tel:+97143216565">+971 4 3216565</a></h3>
                    </div>
                    <div class="footer_inquery_area">
                        <h5>Mail to our support team</h5>
                        <h3> <a href="mailto:info@ant.ae">info@ant.ae</a></h3>
                    </div>
                    <div class="footer_inquery_area">
                        <h5>Follow us on</h5>
                        <ul class="soical_icon_footer">
                            <li><a href="#!"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#!"><i class="fab fa-twitter-square"></i></a></li>
                            <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#!"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-6 col-sm-6 col-12">
                <div class="footer_heading_area">
                    <h5>Company</h5>
                </div>
                <div class="footer_link_area">
                    <ul>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="">Testimonials</a></li>
                        <li><a href="{% url 'faq' %}">Rewards</a></li>
                        <li><a href="terms-service.html">Work with Us</a></li>
                        <li><a href="">Meet the Team </a></li>
                        <li><a href="{% url 'blogs' %}">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="footer_heading_area">
                    <h5>Support</h5>
                </div>
                <div class="footer_link_area">
                    <ul>
                       
                        <li><a href="{% url 'faq' %}">Faq</a></li>
                        <li><a href="">Legal</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="footer_heading_area">
                    <h5>Other Services</h5>
                </div>
                <div class="footer_link_area">
                    <ul>
                        <li><a href="">Dubai Desert Safari</a></li>
                        <li><a href="">Evening Desert Safari</a></li>
                        <li><a href="">Morning Desert Safari</a></li>
                        <li><a href="">Overnight Desert Safari</a></li>
                        <li><a href="">Dubai/Abudhabi City Tours</a></li>
                        <li><a href="">UAE attractions</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="footer_heading_area">
                    <h5>Top cities</h5>
                </div>
                <div class="footer_link_area">
                    <ul>
                        <li><a href="room-details.html">Maldeep</a></li>
                        <li><a href="hotel-details.html">Georgia</a></li>
                        <li><a href="hotel-booking.html">Italy</a></li>
                        <li><a href="tour-search.html">Paris</a></li>
                        <li><a href="tour-booking.html">Singapore </a></li>
                        <li><a href="tour-guides.html">Armenia</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="co-lg-6 col-md-6 col-sm-12 col-12">
                <div class="copyright_left">
                    <p>Copyright © 2023 All Rights Reserved</p>
                </div>
            </div>
            <div class="co-lg-6 col-md-6 col-sm-12 col-12">
                <div class="copyright_right">
                    <img src="" alt="img">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="go-top">
    <i class="fas fa-chevron-up"></i>
    <i class="fas fa-chevron-up"></i>
</div>