{% extends 'frontend/base.html' %}
{% load static %}


{% block main %}
{% include 'frontend/header.html' %}

    <!-- Banner Area -->
    <section id="home_two_banner">
        <div class="home_two_banner_slider_wrapper owl-carousel owl-theme">
            <div class="banner_two_slider_item fadeInUp" data-wow-duration="3s"
                style="background-image: url(/static/assets/img/banner/banner2.jpg);">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="banner_two_text">
                                <h3 class="title">WORLD BEST MUSICAL OBSERVATORY </h3>
                                <h1 class="slider-sttle">IN CLASSICA</h1>
                                <h2 class="slider-pararp">12 FEBRUARY</h2>
                                <h4 class="slider-pararp">10 MARCH 2023</h4>
                                <div class="home_two_button btn-animation">
                                    <a href="" class="btn btn_theme_white btn_md">Discover</a>
                                    <a href="" class="btn btn_theme_transparent btn_md">Know
                                        more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner_two_slider_item fadeInUp" data-wow-duration="2s"
                style="background-image: url(/static/assets/img/banner/banner.jpg);">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 bg-success p-4 shadow-sm ">
                            <div class="banner_two_text">
                                <h3 class="title">DESTINATION MANAGEMENT COMPANY IN DUBAI</h3>
                                <h1 class="slider-sttle">EXPLORE</h1>
                                <h2 class="slider-pararp">UAE with us!</h2>
                                <h4 class="slider-pararp">Find awesome UAE tours, hotels, tours, cars and packages and Top rated Desert Safari in dubai</h4>
                                <div class="home_two_button btn-animation">
                                    <a href="{% url 'all-tours-grid' %}" class="btn btn_theme_white btn_md">Discover </a>
                                    <a href="{% url 'outbounds' %}" class="btn btn_theme_transparent btn_md">Know
                                        more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </section>

    <!-- Top Service And Tour Area-->
    <section id="top_service_andtour" class="section_padding_top">
        <div class="container">
            <!-- Section Heading -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section_heading_center">
                        <h2>Arabian Knights top services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="top_service_boxed">
                        <img src="/static/assets/img/icon/service-1.png" alt="icon">
                        <h3>Hotel Booking</h3>
                        <p>Choose From a Wide Range of Properties Which we Offers. Search Now! Find What You Need At Arabian Knights Tours
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="top_service_boxed">
                        <img src="/static/assets/img/icon/service-2.png" alt="icon">
                        <h3>UAE Tours</h3>
                        <p>
                           Touch of local tours in UAE.Call or book instant online with best offers.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="top_service_boxed">
                        <img src="/static/assets/img/icon/service-3.png" alt="icon">
                        <h3>Outbounds</h3>
                        <p>
                            Call our holiday expert to plan your ourbound tour.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="top_service_boxed">
                        <img src="/static/assets/img/icon/service-4.png" alt="icon">
                        <h3>Visa</h3>
                        <p>
                            Inbound and global visa servies.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="top_service_boxed">
                        <img src="/static/assets/img/icon/service-5.png" alt="icon">
                        <h3>Attractions</h3>
                        <p>
                            Book only attraction ticket with us.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="top_service_boxed">
                        <img src="/static/assets/img/icon/service-6.png" alt="icon">
                        <h3>Transfers</h3>
                        <p>
                            Return Airport transfers, Hotels Transfer with luxury and economy options
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Holiday Destinations  Area-->
    <section id="holiday_destinations" class="section_padding_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="holiday_left_heading">
                                <div class="heading_left_area">
                                    <h2>Explore most popular holiday <span>destinations</span></h2>
                                    <h5>Discover your ideal experience with us</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="holiday_small_boxed">
                                <a href="top-destinations-details.html">
                                    <img src="/static/assets/img/holiday-img/Tirana.jpg" alt="Albania">
                                    <div class="holiday_small_box_content">
                                        <div class="holiday_inner_content">
                                            <div class="rating_outof">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <h5>5 Out of 5</h5>
                                            </div>
                                            <h3>Albania | Aed 6000</h3>
                                            <h4>4 days 3 nights</h4>
                                            <p>3 nights’ accommodation in 4* hotel Daily Breakfast Tirana city tour on Private Airport transfers on Private</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="holiday_small_boxed">
                                <a href="top-destinations-details.html">
                                    <img src="/static/assets/img/holiday-img/holiday-3.png" alt="img">
                                    <div class="holiday_small_box_content">
                                        <div class="holiday_inner_content">
                                            <div class="rating_outof">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <h5>5 Out of 5</h5>
                                            </div>
                                            <h3>China | $6000</h3>
                                            <h4>8 days 7 nights</h4>
                                            <p>Cupidatat consectetur ea cillum nt
                                                consectetur excepteur.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="holiday_small_boxed">
                                <a href="top-destinations-details.html">
                                    <img src="/static/assets/img/holiday-img/holiday-3.png" alt="img">
                                    <div class="holiday_small_box_content">
                                        <div class="holiday_inner_content">
                                            <div class="rating_outof">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <h5>5 Out of 5</h5>
                                            </div>
                                            <h3>China | $6000</h3>
                                            <h4>8 days 7 nights</h4>
                                            <p>Cupidatat consectetur ea cillum nt
                                                consectetur excepteur.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="holiday_small_boxed">
                                <a href="top-destinations-details.html">
                                    <img src="/static/assets/img/holiday-img/holiday-4.png" alt="img">
                                    <div class="holiday_small_box_content">
                                        <div class="holiday_inner_content">
                                            <div class="rating_outof">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <h5>5 Out of 5</h5>
                                            </div>
                                            <h3>China | $6000</h3>
                                            <h4>8 days 7 nights</h4>
                                            <p>Cupidatat consectetur ea cillum nt
                                                consectetur excepteur.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                    <div class="holiday_small_boxed">
                                        <a href="top-destinations-details.html">
                                            <img src="/static/assets/img/holiday-img/holiday-5.png" alt="img">
                                            <div class="holiday_small_box_content">
                                                <div class="holiday_inner_content">
                                                    <div class="rating_outof">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <h5>5 Out of 5</h5>
                                                    </div>
                                                    <h3>China | $6000</h3>
                                                    <h4>8 days 7 nights</h4>
                                                    <p>Cupidatat consectetur ea cillum nt
                                                        consectetur excepteur.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                    <div class="holiday_small_boxed">
                                        <a href="top-destinations-details.html">
                                            <img src="/static/assets/img/holiday-img/holiday-6.png" alt="img">
                                            <div class="holiday_small_box_content">
                                                <div class="holiday_inner_content">
                                                    <div class="rating_outof">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <h5>5 Out of 5</h5>
                                                    </div>
                                                    <h3>China | $6000</h3>
                                                    <h4>8 days 7 nights</h4>
                                                    <p>Cupidatat consectetur ea cillum nt
                                                        consectetur excepteur.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Area -->
    <section id="about_two_area" class="section_padding_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                    <div class="about_two_left">
                        <div class="about_two_left_top">
                            <h5>About us</h5>
                            <h2 class="mb-3">Discover your all UAE tours with us!</h2>
                            
                            <div class="news_sidebar_content_inner">
                                <ul class="news_sidebar_category">
                                    <li><a href="#!">Discover your all UAE tours with us!</a></li>
                                    <li><a href="#!">City tours of Dubai , Abu Dhabi, and Sharjah</a></li>
                                    <li><a href="#!">Hot air balloon rides over the desert</a></li>
                                    <li><a href="#!">Desert safaris and dune bashing</a></li>
                                    <li><a href="#!">Camel and horseback riding tours</a></li>
                                    <li><a href="#!">Shopping and dining tours</a></li>
                                    <li><a href="#!">Adventure and water sports tours</a></li>
                                    <li><a href="#!">Cruise tours</a></li>
                                </ul>
                               </div>
                            
                                
                                
                                             
                           
                        </div>
                        <div class="about_two_left_middel">
                            <div class="about_two_item">
                                <div class="about_two_item_icon">
                                    <img src="/static/assets/img/icon/about-1.png" alt="icon">
                                </div>
                                <div class="about_two_item_text">
                                    <h3>Experienced tour guide</h3>
                                    <p>Dolore ullamco voluptate duis est voluptate exercitation officia ad qui nostrud
                                        adipisicing non.</p>
                                </div>
                            </div>
                            <div class="about_two_item">
                                <div class="about_two_item_icon">
                                    <img src="/static/assets/img/icon/about-2.png" alt="icon">
                                </div>
                                <div class="about_two_item_text">
                                    <h3>Affordable tour packages</h3>
                                    <p>Dolore ullamco voluptate duis est voluptate exercitation officia ad qui nostrud
                                        adipisicing non.</p>
                                </div>
                            </div>
                            <div class="about_two_item">
                                <div class="about_two_item_icon">
                                    <img src="/static/assets/img/icon/about-3.png" alt="icon">
                                </div>
                                <div class="about_two_item_text">
                                    <h3>Explore top places over the world</h3>
                                    <p>Dolore ullamco voluptate duis est voluptate exercitation officia ad qui nostrud
                                        adipisicing non.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="about_two_left_img">
                        <img src="static/assets/img/home/multi-services.jpg" alt="img">
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Partner Area -->
    <section id="partner_area" class="section_padding_top">
        <div class="container">
            <div class="partner_area_bg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="partner_area_left">
                            <h5 class="text-light">Find our Signature tour</h5>
                            <h2 class="text-light">Prepare yourself and let’s enjoy
                                the beauty of Evening Desert Safari Dubai</h2>
                            <p class="text-light">Pick and Drop , DUne Bashing (Lahbab), Sand Boarding, Camel Rides, Sheesha, Live BBQ, Buffet, Live Shows...
                            </p>
                            <div class="partner_video_area">
                                <a class="video_btn video_play_area" href="https://www.youtube.com/watch?v=7W9SKUJlzik"
                                    title="Youtube Video"><i class="fas fa-play"></i></a>
                            </div>
                            <div class="local_counter_area">
                                <div class="local_counter_box">
                                    <h2>7H</h2>
                                    <h5>Local guides</h5>
                                </div>
                                <div class="local_counter_box">
                                    <h2>Own Camp</h2>
                                    <h5>Best Food</h5>
                                </div>
                                <div class="local_counter_box">
                                    <h2>4x4</h2>
                                    <h5>vehicle</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Choose your destinations Area-->
    <section id="choose_destinations_area" class="section_padding_top">
        <div class="container">
            <!-- Section Heading -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section_heading_center">
                        <h2>Choose your destinations</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="choose_desti_wrapper">
                        <div class="choose_des_inner_wrap">
                            <div class="choose_boxed_inner">
                                <img src="/static/assets/img/destination/home-two-des-1.png" alt="img">
                                <div class="choose_img_text">
                                    <h2>London | $13,500</h2>
                                    <h3>7 days 6 nights</h3>
                                </div>
                            </div>
                            <div class="flep_choose_box">
                                <div class="flep_choose_box_inner">
                                    <div class="rating_outof">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <h5>5 Out of 5</h5>
                                    </div>
                                    <h2>China | $6000</h2>
                                    <h3>8 days 7 nights</h3>
                                    <p>Cupidatat consectetur ea cillum laborum labore veniam proident consectetur
                                        excepteur amet pariatur et laboris sint laborum.</p>
                                    <a href="top-destinations-details.html">Tour details</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="choose_desti_wrapper">
                        <div class="choose_des_inner_wrap">
                            <div class="choose_boxed_inner">
                                <img src="/static/assets/img/destination/home-two-des-2.png" alt="img">
                                <div class="choose_img_text">
                                    <h2>Gangtok | $3,500</h2>
                                    <h3>7 days 6 nights</h3>
                                </div>
                            </div>
                            <div class="flep_choose_box">
                                <div class="flep_choose_box_inner">
                                    <div class="rating_outof">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <h5>5 Out of 5</h5>
                                    </div>
                                    <h2>Gangtok | $3,500</h2>
                                    <h3>7 days 6 nights</h3>
                                    <p>Cupidatat consectetur ea cillum laborum labore veniam proident consectetur
                                        excepteur amet pariatur et laboris sint laborum.</p>
                                    <a href="top-destinations-details.html">Tour details</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="choose_desti_wrapper">
                        <div class="choose_des_inner_wrap">
                            <div class="choose_boxed_inner">
                                <img src="/static/assets/img/destination/home-two-des-3.png" alt="img">
                                <div class="choose_img_text">
                                    <h2>Phuket | $2,500</h2>
                                    <h3>7 days 6 nights</h3>
                                </div>
                            </div>
                            <div class="flep_choose_box">
                                <div class="flep_choose_box_inner">
                                    <div class="rating_outof">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <h5>5 Out of 5</h5>
                                    </div>
                                    <h2>Phuket | $2,500</h2>
                                    <h3>7 days 7 nights</h3>
                                    <p>Cupidatat consectetur ea cillum laborum labore veniam proident consectetur
                                        excepteur amet pariatur et laboris sint laborum.</p>
                                    <a href="top-destinations-details.html">Tour details</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="choose_desti_wrapper">
                        <div class="choose_des_inner_wrap">
                            <div class="choose_boxed_inner">
                                <img src="/static/assets/img/destination/home-two-des-4.png" alt="img">
                                <div class="choose_img_text">
                                    <h2>Sydney | $6,000</h2>
                                    <h3>4 days 3 nights</h3>
                                </div>
                            </div>
                            <div class="flep_choose_box">
                                <div class="flep_choose_box_inner">
                                    <div class="rating_outof">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <h5>5 Out of 5</h5>
                                    </div>
                                    <h2>Sydney | $6,000</h2>
                                    <h3>4 days 3 nights</h3>
                                    <p>Cupidatat consectetur ea cillum laborum labore veniam proident consectetur
                                        excepteur amet pariatur et laboris sint laborum.</p>
                                    <a href="top-destinations-details.html">Tour details</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="choose_desti_wrapper">
                        <div class="choose_des_inner_wrap">
                            <div class="choose_boxed_inner">
                                <img src="/static/assets/img/destination/home-two-des-5.png" alt="img">
                                <div class="choose_img_text">
                                    <h2>Gangtok | $3,500</h2>
                                    <h3>9 days 8 nights</h3>
                                </div>
                            </div>
                            <div class="flep_choose_box">
                                <div class="flep_choose_box_inner">
                                    <div class="rating_outof">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <h5>5 Out of 5</h5>
                                    </div>
                                    <h2>Gangtok | $3,500</h2>
                                    <h3>9 days 8 nights</h3>
                                    <p>Cupidatat consectetur ea cillum laborum labore veniam proident consectetur
                                        excepteur amet pariatur et laboris sint laborum.</p>
                                    <a href="top-destinations-details.html">Tour details</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="choose_desti_wrapper">
                        <div class="choose_des_inner_wrap">
                            <div class="choose_boxed_inner">
                                <img src="/static/assets/img/destination/home-two-des-6.png" alt="img">
                                <div class="choose_img_text">
                                    <h2>Pattaya | $4,200</h2>
                                    <h3>5 days 6 nights</h3>
                                </div>
                            </div>
                            <div class="flep_choose_box">
                                <div class="flep_choose_box_inner">
                                    <div class="rating_outof">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <h5>5 Out of 5</h5>
                                    </div>
                                    <h2>Pattaya | $4,200</h2>
                                    <h3>5 days 6 nights</h3>
                                    <p>Cupidatat consectetur ea cillum laborum labore veniam proident consectetur
                                        excepteur amet pariatur et laboris sint laborum.</p>
                                    <a href="top-destinations-details.html">Tour details</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Partner Area -->
    <section id="hometwo_clinet_area" class="section_padding">
        <div class="container">
            <div class="client_two_area_bg">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="two_client_area_left">
                            <h2>We Provide Top Destinations
                                Expecially For You
                                Book Now and Enjoy!</h2>
                            <div class="sm_call_area">
                                <img src="/static/assets/img/icon/sm-call.png" alt="icon">
                                <div class="sm_call_number">
                                    <h5>Call now</h5>
                                    <h2><a href="tel:+97143216565">+971 4 321 6565</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="home_client_wrpper">
                            <h4>Our testimonials</h4>
                            <h2>What our client say about us</h2>
                            <div class="home-two-quote">
                                <img src="/static/assets/img/icon/quote.png" alt="img">
                                <h3>Awesome service</h3>
                            </div>
                            <div class="home_two_client_slider  owl-theme owl-carousel">
                                <div class="client_two_content">
                                    <p>
                                        Ad non quis quis commodo ut nostrud ipsum ad reprehenderit. Lorem eiusmod
                                        excepteur anim adipisicing officia officia.
                                    </p>
                                    <div class="client_two_author">
                                        <h5>Cameron douglas</h5>
                                        <h6>Businessman</h6>
                                    </div>
                                </div>
                                <div class="client_two_content">
                                    <p>
                                        Ad non quis quis commodo ut nostrud ipsum ad reprehenderit. Lorem eiusmod
                                        excepteur anim adipisicing officia officia.
                                    </p>
                                    <div class="client_two_author">
                                        <h5>Cameron douglas</h5>
                                        <h6>Businessman</h6>
                                    </div>
                                </div>
                                <div class="client_two_content">
                                    <p>
                                        Ad non quis quis commodo ut nostrud ipsum ad reprehenderit. Lorem eiusmod
                                        excepteur anim adipisicing officia officia.
                                    </p>
                                    <div class="client_two_author">
                                        <h5>Cameron douglas</h5>
                                        <h6>Businessman</h6>
                                    </div>
                                </div>
                                <div class="client_two_content">
                                    <p>
                                        Ad non quis quis commodo ut nostrud ipsum ad reprehenderit. Lorem eiusmod
                                        excepteur anim adipisicing officia officia.
                                    </p>
                                    <div class="client_two_author">
                                        <h5>Cameron douglas</h5>
                                        <h6>Businessman</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% comment %} <!-- Our partners Area -->
    <section id="our_partners" class="section_padding">
        <div class="container">
            <!-- Section Heading -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section_heading_center">
                        <h2>Our partners</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="partner_slider_area owl-theme owl-carousel">
                        <div class="partner_logo">
                            <a href="#!"><img src="/static/assets/img/partner/1.png" alt="logo"></a>
                        </div>
                        <div class="partner_logo">
                            <a href="#!"><img src="/static/assets/img/partner/2.png" alt="logo"></a>
                        </div>
                        <div class="partner_logo">
                            <a href="#!"><img src="/static/assets/img/partner/3.png" alt="logo"></a>
                        </div>
                        <div class="partner_logo">
                            <a href="#!"><img src="/static/assets/img/partner/4.png" alt="logo"></a>
                        </div>
                        <div class="partner_logo">
                            <a href="#!"><img src="/static/assets/img/partner/5.png" alt="logo"></a>
                        </div>
                        <div class="partner_logo">
                            <a href="#!"><img src="/static/assets/img/partner/6.png" alt="logo"></a>
                        </div>
                        <div class="partner_logo">
                            <a href="#!"><img src="/static/assets/img/partner/7.png" alt="logo"></a>
                        </div>
                        <div class="partner_logo">
                            <a href="#!"><img src="/static/assets/img/partner/8.png" alt="logo"></a>
                        </div>
                        <div class="partner_logo">
                            <a href="#!"><img src="/static/assets/img/partner/5.png" alt="logo"></a>
                        </div>
                        <div class="partner_logo">
                            <a href="#!"><img src="/static/assets/img/partner/3.png" alt="logo"></a>
                        </div>
                        <div class="partner_logo">
                            <a href="#!"><img src="/static/assets/img/partner/2.png" alt="logo"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}




    {% include 'frontend/whatsapp.html' %}
    {% include 'frontend/badge.html' %}
    
    {% include 'frontend/newsletter.html' %}
   
    {% include 'frontend/footer.html' %}

    {% endblock main %}