<style>
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        left:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:30px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        z-index:100;
        animation:animate 3s linear infinite;
    }
    @keyframes animate {
        0% {box-shadow: 0 0 0 0 rgba(14, 240, 89, 0.7), 0 0 0 0 rgba(25, 245, 135, 0.7); }
        40% {box-shadow: 0 0 0 30px rgba(255, 109, 74, 0), 0 0 0 0 rgba(3, 209, 37, 0.356); }
        80% {box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0); }
        100% {box-shadow: 0 0 0 0 rgba(255,109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0); }
    }
    .my-float {
        margin-top :15px;
        
    }
</style>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=971506001213&text=Hello." class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>

