{% extends 'frontend/base.html' %}
{% load custom_filters %}

{% load static %}


{% block custom_css %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />



{% endblock %}

{% block main %}



    <div id="calendar"></div>







    

     

{% block custom_script %}

    <!-- At the end of the body section -->





  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
  

    <script>
        $(document).ready(function() {
            var events = [
                {% for availability in tour_availability %}
                     {% for day in availability.available_dates|split_string:',' %}
                        {
                            title: "Available",
                            start: "{{ availability.month|date:'Y-m-' }}{{ day }}",
                            color: "{% if day %}#7ABD7E{% endif %}"
                        },
                    {% endfor %}
                    {% for day in availability.unavailable_dates|split_string:',' %}
                        {
                            title: "Unavailable",
                            start: "{{ availability.month|date:'Y-m-' }}{{ day }}",
                            color: "{% if day %}#FF6961{% endif %}"
                        },
                    {% endfor %}
                {% endfor %}
            ];

            $('#calendar').fullCalendar({
                events: events,
                
            });
        });
        
        
    </script>



{% endblock %}

    {% endblock main %}
    

