{% extends 'frontend/base.html' %}
{% load static %}


{% block main %}
{% include 'frontend/header.html' %}


    <!-- Common Banner Area -->
    <section id="common_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>Booking submission</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span><a href="tour-search.html">Tours</a></li>
                            <li><span><i class="fas fa-circle"></i></span><a href="tour-details.html">Amazon tour</a>
                            </li>
                            <li><span><i class="fas fa-circle"></i></span> Booking</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Tour Booking Submission Areas -->
    <section id="tour_booking_submission" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="tou_booking_form_Wrapper">
                        <div class="booking_tour_form">
                            <h3 class="heading_theme">Booking submission</h3>
                            <div class="tour_booking_form_box">
                                <form method="POST" id="tour_bookking_form_item">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input name="first_name" type="text" class="form-control bg_input"
                                                    placeholder="First name*">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input name="last_name" type="text" class="form-control bg_input"
                                                    placeholder="Last name*">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input name="email" type="text" class="form-control bg_input"
                                                    placeholder="Email address (Optional)">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input name="phone" type="text" class="form-control bg_input"
                                                    placeholder="Mobile number*">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input name="pickup_location" type="text" id="hotel" class="form-control bg_input"
                                                    placeholder="Pickup Location with room no. or appt*">
                                                    
                                                    <input type="hidden" id="pickup_lat" name="pickup_lat">
                                                    <input type="hidden" id="pickup_lng" name="pickup_lng">
                                            </div>
                                        </div>
                                        
                                       
                                        
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input name="country" type="text" class="form-control bg_input"
                                                    placeholder="Enter Country">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label> Booking Note</label>
                                                
                                                    <input name="booking_note" type="text" class="form-control bg_input"
                                                    placeholder="Booking Note">
                                            </div>
                                        </div>

                                    </div>
                                
                            </div>
                        </div>
                        <div class="booking_tour_form">
                            <h3 class="heading_theme">Payment method</h3>
                            <div class="tour_booking_form_box">
                                <div class="booking_payment_boxed">
                                    
                                        <div name="paymentMode" class="form-check">
                                            <input class="form-check-input" type="radio" name="paymentMode"
                                                id="" value="Payment By Card">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Payment by card
                                            </label>
                                        </div>
                                        
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="paymentMode"
                                                id="" value="Cash On Pickup">
                                            <label class="form-check-label" for="flexRadioDefault4">
                                                Cash on Pickup
                                            </label>
                                        </div>
                                        
                                    
                                </div>
                            </div>
                        </div>
                        <div class="booking_tour_form_submit">
                            <div class="form-check write_spical_check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultf1">
                                <label class="form-check-label" for="flexCheckDefaultf1">
                                    <span class="main_spical_check">
                                        <span>I read and accept all <a href="{% url 'privacy' %}">Terms and
                                                conditios</a></span>
                                    </span>
                                </label>
                            </div>
                            
                            <button type="submit" class="btn btn_theme btn_md">Book </button>
                        </div>
                    </div>
                </form>
               
                <div class="col-lg-4">
                    <div class="tour_details_right_sidebar_wrapper">
                        <div class="tour_detail_right_sidebar">
                            <div class="tour_details_right_boxed">
                                <div class="col" style="text-transform:none;">
                                    <img src="{{tour.thumbnail.url}}" width="50" height="50" alt=""> {{ tour.name }}
                                </div>
                                
                            </div>
                        </div>
                    <div id="personData">
                        <div class="tour_detail_right_sidebar" >
                            <div class="tour_details_right_boxed">
                                <div class="tour_details_right_box_heading">
                                    <h3>Travel date</h3>
                                </div>
                                <div class="edit_date_form">
                                    <div class="form-group">
                                        <label for="dates">Edit Date</label>
                                        <input name="tour_date" type="date" id="dates" class="form-control">
                                        <span>{% verbatim %} {{ BookingDate }} {% endverbatim %} </span>
                                    </div>
                                </div>
                                <div class="tour_package_details_bar_list">
                                    <h5>Tourist</h5>
                                    <div class="select_person_item">
                                        <div class="select_person_left">
                                            <h6>Adult</h6>
                                            <p>12y+</p>
                                        </div>
                                        <div class="select_person_right">
                                            <h6>{% verbatim %} {{ Adult }} {% endverbatim %}</h6>
                                        </div>
                                    </div>

                                    <div class="select_person_item">
                                        <div class="select_person_left">
                                            <h6>Children</h6>
                                            <p>2 - 12 years</p>
                                        </div>
                                        <div class="select_person_right">
                                            <h6>{% verbatim %} {{ Children }} {% endverbatim %}</h6>
                                        </div>
                                    </div>
                                    <div class="select_person_item">
                                        <div class="select_person_left">
                                            <h6>Infant</h6>
                                            <p>Below 2 years</p>
                                        </div>
                                        <div class="select_person_right">
                                            <h6>{% verbatim %} {{ Infant }} {% endverbatim %}</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="edit_person">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="tour_detail_right_sidebar">
                            <div class="tour_details_right_boxed">
                                <div class="tour_details_right_box_heading">
                                    <h3>Coupon code</h3>
                                </div>
                                <div class="coupon_code_area_booking">
                                    <form action="#!">
                                        <div class="form-group">
                                            <input type="text" class="form-control bg_input"
                                                placeholder="Enter coupon code">
                                        </div>
                                        <div class="coupon_code_submit">
                                            <button class="btn btn_theme btn_md">Apply voucher</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <div class="tour_detail_right_sidebar">
                            <div class="tour_details_right_boxed">
                                <div class="tour_details_right_box_heading">
                                    <h3>Booking amount</h3>
                                </div>

                                <div class="tour_booking_amount_area">
                                    <ul>
                                        <li>Adult Price x {% verbatim %} {{ Adult }} {% endverbatim %}<span>{% verbatim %} {{ adultTotal }} {% endverbatim %}</span></li>
                                        <li>Child Price x {% verbatim %} {{ Children }} {% endverbatim %}<span>{% verbatim %} {{ childTotal }} {% endverbatim %}</span></li>
                                        <li>Discount <span>-</span></li>
                                        <li>Tax Included<span>5%</span></li>
                                    </ul>
                                    <div class="tour_bokking_subtotal_area">
                                        <h6>Subtotal <span><sup>AED </sup>{% verbatim %} {{ subTotal }} {% endverbatim %}</span></h6>
                                    </div>
                                    <div class="coupon_add_area">
                                        <h6><span class="remove_coupon_tour">Remove</span> Coupon code (ANT)
                                            <span>--</span>
                                        </h6>
                                    </div>
                                    <div class="total_subtotal_booking">
                                        <h6>Total Amount <span><sup>AED </sup>{% verbatim %} {{ subTotal }} {% endverbatim %}</span> </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </section>




    {% include 'frontend/newsletter.html' %}
   
    {% include 'frontend/footer.html' %}


    {% block custom_script %}
    <script src="https://unpkg.com/vue@next"></script>
   
    <script src="{% static 'assets/js/custom-vue.js' %}"></script>

    <!-- google places api-->
    <script>
        function initAutocomplete() {
          const hotelInput = document.getElementById('pickup_location');
          const pickupLatInput = document.getElementById('pickup_lat');
          const pickupLngInput = document.getElementById('pickup_lng');
      
          const autocomplete = new google.maps.places.Autocomplete(hotelInput);
      
          autocomplete.addListener('place_changed', () => {
            const place = autocomplete.getPlace();
      
            if (!place.geometry) {
              console.error('No location data available for this place.');
              return;
            }
      
            pickupLatInput.value = place.geometry.location.lat();
            pickupLngInput.value = place.geometry.location.lng();
          });
        }
      </script>
      
      <!-- include Google Maps API script -->
      <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places&callback=initAutocomplete" async defer></script>


    {% endblock %}

    {% endblock main %}

